__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
# .vscode
my-gpt2_text_document
my-gpt2_text_document*
checkpoint
checkpoints
tokenizer.model
out/*
full-gpt2_text_document.bin
*.err
*.out

1.txt
0
*text_document.idx
*text_document.bin
*_index.npy
*GPTDataset-description.txt
debug-amber*.bin
debug-amber*.idx
amber.tokenizer.model
full-amber-8node*.bin
full-amber-8node*.idx
hf_ckpt/*
tools/2.txt
baichuan.tokenizer.model
Baichuan2-7B-Chat/*
